<html>
    <head>
        <title>O id da sala que você forneceu está incorreto!!!!</title>
        <script>
            confirm("Id da sala incorreto! \nLembre-se que o número da sala é composto por apenas 6 dígitos!")
            window.location.replace('/')
        </script>
    </head>
</html>