<html>
    <head>
        <title>A senha que você forneceu está incorreta!!!</title>
        <script>
            confirm("Senha Incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>